<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.destinyapp.kitabelajar">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo_kita_belajar_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:roundIcon="@mipmap/logo_kita_belajar_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Acitvity.menu.MediaInformasi.Giveaway.DetailGiveawayActivity"
            android:label="Detail Giveaway"
            android:parentActivityName=".Acitvity.menu.MediaInformasi.Giveaway.GiveawayActivity"/>
        <activity android:name=".Acitvity.menu.MediaInformasi.EducationTalkshow.DetailEducationTalkshowActivity"
            android:label="Detail Education Talkshow"
            android:parentActivityName=".Acitvity.menu.MediaInformasi.EducationTalkshow.EducationTalkshowActivity"/>
        <activity android:name=".Acitvity.menu.MediaInformasi.EducationPodcast.DetailEducationPodcastActivity"
            android:label="Detail Education Podcast"
            android:parentActivityName=".Acitvity.menu.MediaInformasi.EducationPodcast.EducationPodcastActivity"/>
        <activity
            android:name=".Acitvity.menu.MediaInformasi.Giveaway.GiveawayActivity"
            android:label="Giveaway"
            android:parentActivityName=".Acitvity.menu.MediaInformasi.MediaInformasiActivity" />
        <activity
            android:name=".Acitvity.menu.MediaInformasi.EducationTalkshow.EducationTalkshowActivity"
            android:label="Education Talkshow"
            android:parentActivityName=".Acitvity.menu.MediaInformasi.MediaInformasiActivity" />
        <activity
            android:name=".Acitvity.menu.MediaInformasi.EducationPodcast.EducationPodcastActivity"
            android:label="Education Podcast"
            android:parentActivityName=".Acitvity.menu.MediaInformasi.MediaInformasiActivity" />
        <activity
            android:name=".Acitvity.menu.MediaInformasi.EducationNews.DetailEducationNewsActivity"
            android:label="Detail Education News"
            android:parentActivityName=".Acitvity.menu.MediaInformasi.EducationNews.EducationNewsActivity" />
        <activity
            android:name=".Acitvity.menu.MediaInformasi.EducationNews.EducationNewsActivity"
            android:label="Education News"
            android:parentActivityName=".Acitvity.menu.MediaInformasi.MediaInformasiActivity" />
        <activity
            android:name=".Acitvity.menu.JumatNgaji.KiblatActivity"
            android:label="Arah Qiblat"
            android:parentActivityName=".Acitvity.menu.JumatNgaji.JumatNgajiActivity" />
        <activity
            android:name=".Acitvity.menu.JumatNgaji.KhutbahJumat.DetailKhutbahJumatActivity"
            android:label="Detail Khutbah Jum&apos;at"
            android:parentActivityName=".Acitvity.menu.JumatNgaji.KhutbahJumat.KhutbahJumatActivity" />
        <activity
            android:name=".Acitvity.menu.JumatNgaji.KhutbahJumat.KhutbahJumatActivity"
            android:label="Khutbah Jum&apos;at"
            android:parentActivityName=".Acitvity.menu.JumatNgaji.JumatNgajiActivity" />
        <activity
            android:name=".Acitvity.menu.KemisNyunda.SejarahSunda.DetailSejarahSundaActivity"
            android:label="Detail Sejarah Sunda"
            android:parentActivityName=".Acitvity.menu.KemisNyunda.SejarahSunda.SejarahSundaActivity" />
        <activity
            android:name=".Acitvity.menu.KemisNyunda.SejarahSunda.SejarahSundaActivity"
            android:label="Sejarah Sunda"
            android:parentActivityName=".Acitvity.menu.KemisNyunda.KemisNyundaActivity" />
        <activity
            android:name=".Acitvity.menu.KemisNyunda.CeritaSunda.CeritaSundaActivity"
            android:label="Cerita Sunda"
            android:parentActivityName=".Acitvity.menu.KemisNyunda.KemisNyundaActivity" />
        <activity
            android:name=".Acitvity.menu.KemisNyunda.CeritaSunda.DetailCeritaSundaActivity"
            android:label="Detail Cerita Sunda"
            android:parentActivityName=".Acitvity.menu.KemisNyunda.CeritaSunda.CeritaSundaActivity" />
        <activity
            android:name=".Acitvity.menu.MediaInformasi.MediaInformasiActivity"
            android:label="Media Informasi"
            android:parentActivityName=".Acitvity.MainActivity" />
        <activity
            android:name=".Acitvity.menu.JumatNgaji.JumatNgajiActivity"
            android:label="Jum&apos;at Ngaji"
            android:parentActivityName=".Acitvity.MainActivity" />
        <activity
            android:name=".Acitvity.menu.KemisNyunda.KemisNyundaActivity"
            android:label="Kemis Nyunda"
            android:parentActivityName=".Acitvity.MainActivity" />
        <activity
            android:name=".Splash.SplashActivity"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".Acitvity.SponsorActivity"
            android:label="Seluruh Sponsor"
            android:parentActivityName=".Acitvity.MainActivity" />
        <activity
            android:name=".Acitvity.KabarBeritaActivity"
            android:label="Seluruh Kabar Berita"
            android:parentActivityName=".Acitvity.MainActivity" />
        <activity
            android:name=".Acitvity.DetailInfoPublik"
            android:label="Detail Info Publik"
            android:parentActivityName=".Acitvity.MainActivity" />
        <activity
            android:name=".Acitvity.Games.GamesActivity"
            android:label="Game Nomor"
            android:parentActivityName=".Acitvity.MainActivity" />
        <activity
            android:name=".Acitvity.InfoDinasActivity"
            android:label="Info Dinas Pendidikan"
            android:parentActivityName=".Acitvity.MainActivity" />
        <activity
            android:name=".Acitvity.menu.GalleryActivity"
            android:label="Gallery"
            android:parentActivityName=".Acitvity.MainActivity" />
        <activity
            android:name=".Acitvity.DinasPendidikanActivity"
            android:label="Dinas Pendidikan"
            android:parentActivityName=".Acitvity.MainActivity" />
        <activity
            android:name=".Acitvity.menu.DetailKabarSekolahActivity"
            android:label="Detail Agenda Sekolah"
            android:parentActivityName=".Acitvity.menu.AgendaSekolah.AgendaSekolahActivity" />
        <activity
            android:name=".Acitvity.menu.ROBDanaActivity"
            android:label="ROB Dana BOP"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.PembayaranActivity"
            android:label="Pembayaran"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.BiayaAkademik"
            android:label="Biaya Akademik"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.GuruActivity"
            android:label="Guru"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.ERaportActivity"
            android:label="E-Raport"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.TugasActivity"
            android:label="Tugas"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.MediaPembelajaran.DetailMediaPembelajaranActivity"
            android:label="Detail Media Pembelajaran"
            android:parentActivityName=".Acitvity.menu.MediaPembelajaran.MediaPembelajaranActivity" />
        <activity
            android:name=".Acitvity.menu.MediaPembelajaran.MediaPembelajaranActivity"
            android:label="Media Pembelajaran"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.EvadirActivity"
            android:label="Evadir"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.JadwalPelajaranActivity"
            android:label="Jadwal Pelajaran"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.StrukturOrganisasiActivity"
            android:label="Struktur Oraganisasi"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.PrestasiActivity"
            android:label="Prestasi"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.AgendaSekolah.DetailAgendaSekolahActivity"
            android:label="Agenda Sekolah"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.AgendaSekolah.AgendaSekolahActivity"
            android:label="Agenda Sekolah"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.ProfileSekolahActivity"
            android:label="Profile Sekolah"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.menu.FormulirPPDBActivity"
            android:label="PPDB"
            android:parentActivityName=".Acitvity.HomeActivity" />
        <activity
            android:name=".Acitvity.HomeActivity"
            android:theme="@style/AppThemeCheck" />
        <activity
            android:name=".Acitvity.LoginActivity"
            android:theme="@style/AppThemeCheck" />
        <activity
            android:name=".Acitvity.MainActivity"
            android:theme="@style/AppThemeCheck">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>